<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Spreadsheet</title>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="./css/main.css"/>
    <!-- Load AngularJS from a CDN (or a local file if preferred) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="TableController">  
    <table>
      <colgroup>
        <col style="width: 20px;"> <!-- Row label column -->
        <col ng-repeat="col in columns" style="width: 40px;" >
      </colgroup>
      <thead>
        <tr>
          <th>
              <button ng-click="resetSpreadsheet()">🔄</button>
          </th>
          <th ng-repeat="col in columns track by $index">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rowNum in rows track by $index">
          <th>
            {{rowNum}}
          </th>
          <td
          tabindex="0" 
          ng-repeat="col in columns track by $index"
          ng-init="cell = cells[$parent.$index][$index]"
          data-coord="{{col + rowNum}}"   
          contenteditable="true" 
          ng-blur="onCellBlur($event, $parent.$index, $index)"
          ng-class="{
            'text-cell': !cell.isNumeric, 
            'number-cell': cell.isNumeric,
            'calculated-cell': cell.isCalculated,
          }"
          ng-keydown="onCellKeyDown($event)"   
          ng-focus="onCellFocus($event, $parent.$index, $index)"     
          >  
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Link to your main JS file at the bottom of body for best performance -->
    <script src="./js/app.js"></script>
</body>
</html>